<div *ngIf="project">
  <p>ID: {{ project.id }}</p>

  <div *ngIf="resources">
    <p>Resources:</p>

    <ul style="list-style-type: none; padding: 5px; margin: 5px">
      <li *ngFor="let resource of resources" style="padding: 5px">
        <p-button styleClass="p-button-sm" label="{{ resource.name }}" (onClick)="viewResource(resource)"></p-button>
      </li>
    </ul>
  </div>
</div>

<p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '70vw' }">
  <jhi-endpoint-form></jhi-endpoint-form>
</p-dialog>
