<div *ngIf="project">
  <div class="flex justify-content-between">
    <h2>{{ project.name }}</h2>
    <p-button styleClass="p-button-sm p-button-raised p-button-text" label="Add resource" (onClick)="openDialog()"></p-button>
  </div>
  <hr />

  <div *ngIf="resources">
    <ul style="list-style-type: none; padding: 5px; margin: 5px">
      <li *ngFor="let resource of resources" style="padding: 5px">
        <jhi-resource-list-item
          [name]="resource.name!"
          [count]="resource.count!"
          (generateMockDataEvent)="generateMockData(resource, $event)"
          (getMockData)="openDataViewDialog(resource)"
          (editResourceEvent)="openDialog(resource)"
          (deleteResourceEvent)="handleDeleteResource(resource)"
        >
        </jhi-resource-list-item>
      </li>
    </ul>
  </div>
</div>

<p-dialog
  *ngIf="project"
  header="Create/Edit new resource"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
  (onHide)="handleOnHide()"
>
  <jhi-endpoint-form [projectId]="project.id" [resource]="dialogResource" (submitFormEvent)="handleSubmitForm()"></jhi-endpoint-form>
</p-dialog>

<p-dialog
  *ngIf="project"
  header="View/Edit mock data"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="dataViewVisible"
  [style]="{ width: '50vw', 'min-height': '70vh' }"
  (onHide)="handleOnHide()"
>
  <jhi-generated-data-view
    [data]="dialogResourceMockData"
    (closeDialogEvent)="dataViewVisible = false"
    (updateMockDataEvent)="handleUpdateMockData(dialogResource!, $event)"
  ></jhi-generated-data-view>
</p-dialog>
