<div *ngIf="project">
  <div class="flex justify-content-between">
    <h2>{{ project.name }}</h2>
    <p-button styleClass="p-button-sm" label="Add resource" (onClick)="openDialog()"></p-button>
  </div>
  <hr />

  <div *ngIf="resources">
    <!-- <p>Resources:</p> -->

    <ul style="list-style-type: none; padding: 5px; margin: 5px">
      <li *ngFor="let resource of resources" style="padding: 5px">
        <!-- <p-button styleClass="p-button-sm" label="{{ resource.name }}" (onClick)="openDialog(resource)"></p-button> -->
        <jhi-resource-list-item
          [resource]="resource"
          (generateResouceEvent)="openDataViewDialog(resource)"
          (editResourceEvent)="openDialog(resource)"
          (deleteResourceEvent)="(undefined)"
        >
        </jhi-resource-list-item>
      </li>
    </ul>
  </div>
</div>

<p-dialog
  *ngIf="project"
  header="Header"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
  (onHide)="handleOnHide()"
>
  <jhi-endpoint-form [projectId]="project.id" [resource]="dialogResource" (submitFormEvent)="handleSubmitForm()"></jhi-endpoint-form>
</p-dialog>

<p-dialog
  *ngIf="project"
  header="Header"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="dataViewVisible"
  [style]="{ width: '70vw' }"
  (onHide)="handleOnHide()"
>
  <jhi-generated-data-view></jhi-generated-data-view>
</p-dialog>
